html {
background-color: black;
}
#pic {
width: 100%;
}
#text {
    color: white;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-family: 'Yellowtail', cursive;
}
#div {
margin-top: 5%;
border: 5px solid white;
width: 50%;
margin-left: 25% ;
}
